<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>JSP Page</title>
  </head>

  <body>
    <form action="response" method="get">
      <label for="q1">Carga 1:</label>
      <input type="text" id="q1" name="q1" required />
      <br />
      <label for="q2">Carga 2:</label>
      <input type="text" id="q2" name="q2" required />
      <br />
      <label for="d">Distancia:</label>

      <input type="text" id="d" name="d" required />
      <br />
      <input type="submit" value="Calcular fuerza eléctrica" />
    </form>
  </body>
</html>
