<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Web Coulomb Page</title>
    </head>

    <body>
        <form action="response" method="get">
            <label for="q1">Carga 1:</label>
            <input type="text" id="q1" name="q1" required />
            <select name="unidad" id="unidad">
                <option value="mC">mC</option>
                <option value="uC">uC</option>
                <option value="nC">nC</option>
                <option value="C">C</option>
            </select>
            <input type="text" id="x1" name="x1" required />
            <input type="text" id="y1" name="y1" required />
            <br />
            <label for="q2">Carga 2:</label>
            <input type="text" id="q2" name="q2" required />
            <select name="unidad2" id="unidad2">
                <option value="mC">mC</option>
                <option value="uC">uC</option>
                <option value="nC">nC</option>
                <option value="C">C</option>
            </select>
            <input type="text" id="x2" name="x2" required />
            <input type="text" id="y2" name="y2" required />


            <br />
            <input type="submit" value="Calcular fuerza eléctrica" />
        </form>
    </body>
</html>
