<!DOCTYPE html>
<html>

<head>
  <title>3 Cargas</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{/css/form.css}" />
</head>

<body>
    <div class="row contenedor ml-3 mt-3">
            <h4 class="mr-3"><a href="/">Cálculo para dos cargas</a></h4>
            
            <h4><a href="/trescargas">Cálculo para tres cargas</a></h4>        
        </div>
  <div class="fondo">
      <h2>
    Cálculo de Fuerza eléctrica para tres cargas en los vértices de un triángulo
    
  </h2>  
 <pre class="texto" th:text="${resulttri}"></pre>  
 <div class="imafuerza">
      <img th:src="@{${form3cargas}}">
      </div>
    </div>
</body>

</html>
